/* line 4, ../../app/assets/stylesheets/albums.css.scss */
.album-first-photo {
  height: 145px;
}

/* line 7, ../../app/assets/stylesheets/albums.css.scss */
.album-tile {
  height: 150px;
  width: 199px;
  float: left;
}

/* line 13, ../../app/assets/stylesheets/albums.css.scss */
.new-album-form {
  width: 99%;
}

/* line 17, ../../app/assets/stylesheets/albums.css.scss */
.album-tiles {
  width: 100%;
  height: 20%;
}

/* line 22, ../../app/assets/stylesheets/albums.css.scss */
.album-photos {
  width: 100%;
  height: 400px;
  background: grey;
}

/* line 28, ../../app/assets/stylesheets/albums.css.scss */
.photostream-form {
  width: 100%;
  background: white;
}
