<form action="route" method="post">
	<input type="text" name="first_name">
	<input type="password" name="password">
	<button>Submit</button>
	<input type="submit" value="Create User">
	<%= input_tag(:cat_name) %>
	
</form>

<!-- Question -->
<!-- for the input type="submit" what does the value mean? -->